body {
    background-color: rgb(111, 148, 250);
    color: whitesmoke;
    padding: 20px;
}

.red {
    background-color: red;
    padding: 20px;
}

.blue {
    background-color: blue;
    padding: 20px;
}

.white {
    background-color: whitesmoke;
    color: black;
}

#maths {
    margin: 5px;
}

#physics {
    margin: 5px;
}

#chemistry {
    margin: 5px;
}

#english {
    margin: 5px;
}

